<!--Sticky Footer -->
    <link href="css/sticky-footer.css" rel="stylesheet">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<img src="http://bestanimations.com/Sci-Fi/StarTrek/star-trek-spaceship-animated4.gif">

<style>

h1 {
  color: white;
}

p {
  color: black;
}
</style>

<script>
var numQuestions = 10;

var numChoice = 4;

var answers = new Array(10);

answers[0] = "a";
answers[1] = "c";
answers[2] = "d";
answers[3] = "b";
answers[4] = "d";
answers[5] = "c";
answers[6] = "b";
answers[7] = "d";
answers[8] = "a";
answers[9] = "c";

function gradeMe(form) {
  var score = 0;
  var currentElt;
  var currentSelection;
  for (i=0; i<numQuestions; i++) {
    currentElt = i*numChoice;
    for (j=0; j<numChoice; j++) {
      currentSelection = form.elements[currentElt + j];
      if (currentSelection.checked) {
        if (currentSelection.value == answers[i]) {
          score++;
          break;
        }
      }
    }
  }

  score = Math.round(score/numQuestions*100);
  form.percentage.value = score + "%";
  var correctAnswers = "";
  for (i=1; i<=numQuestions; i++) {
    correctAnswers += i + ". " + answers[i-1] + "\r\n";

  }
  form.solutions.value = correctAnswers;
}

</script>

<div id= "countdownTimer">
</style>

<div id="show-number"></div>
<br>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script>

  document.write("Time Remaining")
  //countdown timer
    var number = 120;
    
    function run(){
      counter = setInterval(decrement, 1000);
    }
    function decrement(){
      number--;
      $('#show-number').html('<h2>' + number + '</h2>');
      if (number === 0){
        window.location.href = ("/gameover")
      }
    }

    function stop(){
    }

    function cdpause() {
    // pauses countdown
    clearTimeout(counter);
}

  run();
  </script>
  </div>

</head>
<body>
<br>

<div id= "triviaHeader">

<h1>Constitution Class Trivia</h1>

</div>


<div class="jumbotron">
 
<div class = "container">

<form name = "trivia">
<div class="question">
1) What is the purpose of the Vulcan ritual of Kolinahr?</div>
<div class = "image">
<img src = "/img/kolinahr.jpg" height="250" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question1">a) A purging of all emotion<br>
<input type="radio" value="b" name="question1">b) The temporary union of two minds<br>
<input type="radio" value="c" name="question1">c) Sexual release and mating<br>
<input type="radio" value="d" name="question1">d) The transfer of one's coinciousness to another<br>
</div>

<br>

<div class="question">
2) Who was the original captain of the USS Enterprise in the unaired pilot of Star Trek: The  Original Series "The Cage"?</div>
<div class = "image">
<img src = "/img/pike.jpg" height="250" width= "250">
</div>
<div class="selection">
<input type="radio" value="a" name="question2">a) Jonathan Archer<br>
<input type="radio" value="b" name="question2">b) Willard Decker<br>
<input type="radio" value="c" name="question2">c) Christopher Pike<br>
<input type="radio" value="d" name="question2">d) John Harriman<br>
</div>

<br>

<div class="question">
3) What was Picard's Borg name when he was assimilated into the collective?</div>
<div class = "image">
<img src = "/img/locutus.jpg" height="300" width= "350">
</div>
<div class="selection">
<input type="radio" value="a" name="question3">a) 6 of 12<br>
<input type="radio" value="b" name="question3">b) 7 of 13<br>
<input type="radio" value="c" name="question3">c) Revenant of Borg<br>
<input type="radio" value="d" name="question3">d) Locutus of Borg<br>
</div>

<br>

<div class="question">
4) What is the name of Captain Benjamin Sisco's ship?</div>
<div class = "image">
<img src = "/img/sisko.jpg" height="200" width= "300">
</div>
<div class="selection">
<input type="radio" value="a" name="question4">a) The Voyager<br>
<input type="radio" value="b" name="question4">b) The Defiant<br>
<input type="radio" value="c" name="question4">c) The Pegasus<br>
<input type="radio" value="d" name="question4">d) The Equinox<br>
</div>

<br>

<div class="question">
5) What is the name of Jonathan Archer's dog in Star Trek: Enterprise?</div>
<div class = "image">
<img src = "/img/porthos.jpg" height="250" width= "250">
</div>
<div class="selection">
<input type="radio" value="a" name="question5">a) Pluto<br>
<input type="radio" value="b" name="question5">b) Titan<br>
<input type="radio" value="c" name="question5">c) Satern<br>
<input type="radio" value="d" name="question5">d) Porthos<br>
</div>

<br>

<div class="question">
6) What is the name of Data's cat in Star Trek: The Next Generation?</div>
<div class = "image">
<img src = "/img/spot.jpg" height="250" width= "345">
</div>
<div class="selection">
<input type="radio" value="a" name="question6">a) Mittens<br>
<input type="radio" value="b" name="question6">b) Fluffy<br>
<input type="radio" value="c" name="question6">c) Spot<br>
<input type="radio" value="d" name="question6">d) Sprinkles<br>
</div>

<br>

<div class="question">
7) What quadrant was USS Voyager hurled into in the first episode of Star Trek: Voyager?</div>
<div class = "image">
<img src = "/img/crew.jpg" height="250" width= "380">
</div>
<div class="selection">
<input type="radio" value="a" name="question7">a) Alpha<br>
<input type="radio" value="b" name="question7">b) Delta<br>
<input type="radio" value="c" name="question7">c) Beta<br>
<input type="radio" value="d" name="question7">d) Gamma<br>
</div>

<br>

<div class="question">
8) What two species are the main center of conflict in the series Star Trek: Deep Space Nine?</div>
<div class = "image">
<img src = "/img/ds9.jpg" height="200" width= "350">
</div>
<div class="selection">
<input type="radio" value="a" name="question8">a) Starfleet/Borg<br>
<input type="radio" value="b" name="question8">b) Vulcan/Romulans<br>
<input type="radio" value="c" name="question8">c) Klingons/Ferengi<br>
<input type="radio" value="d" name="question8">d) Bajorans/Cardassians<br>
</div>

<br>

<div class="question">
9) What is the name of the villian in the Star Trek 2009 reboot?</div>
<div class = "image">
<img src = "/img/nero.jpg" height="200" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question9">a) Nero<br>
<input type="radio" value="b" name="question9">b) Caligula<br>
<input type="radio" value="c" name="question9">c) Remus<br>
<input type="radio" value="d" name="question9">d) Thanos<br>
</div>

<br>

<div class="question">
10) In what episode of Star Trek: The Original Series did the tribbles first appear?</div>
<div class = "image">
<img src = "/img/tribbles.jpg" height="250" width= "350">
</div>
<div class="selection">
<input type="radio" value="a" name="question10">a) Trials and Tribbles<br>
<input type="radio" value="b" name="question10">b) More Trouble, More Tribbles<br>
<input type="radio" value="c" name="question10">c) The Trouble With Tribbles<br>
<input type= "radio" value="d" name="question10">d) Amok Time<br>
</div>
<br>
<br>

<div class="container">
  <h2>All done?</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id= "results" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Results</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Results</h4>
        </div>
        <div class="modal-body">
          <input type="button" value="Submit" onClick="gradeMe(this.form)">
          <input type="reset" value="Reset">
          <input type="button" value="Stop Timer" onClick="cdpause()">
          <input type="button" value="Return to Dashboard" onClick="window.location.href='/'">

<br>
<br>

<p>Your Score =<strong><input class="bgclr" type="text" size= "6" name="percentage" disabled></strong>
<br><br>
Correct Answers:<br>
<textarea class="bgclr" name="solutions" wrap="virtual" rows="4" cols="30" disabled>
</textarea>
</form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>

<br>
<br>
  
<script src= '/app/app.js'</script>