<div class="jumbotron">
  <h1>Game Over!</h1>
  You did not complete your mission in time. Due your failure, the ship was destroyed...
  <br>
  <br>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Go back to Main Menu</a></p>
  <img src="http://i.yomyomf.com/wp-content/uploads/2016/07/21152556/tumblr_ms0xfrAruW1s67vyfo6_r1_500.gif"</img>
</div>