 	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!--Sticky Footer -->
    <link href="css/sticky-footer.css" rel="stylesheet">

    <!--Style CSS -->
    <link href="css/style.css" rel="stylesheet">

 <h2 class="page-header">Urgent message from Starfleet!</h2>
 <p>The Romulans have snuck aboard your ship and have sabotaged your computer system. You can bypass the virus and save the ship. To do this you must test your knowledge on 50 years of Star Trek events, history, and characters. Keep in mind you only have a limited amount of time to answer. You will be ranked based on how many questions you answered correctly. Failure to answer all the questions within the allotted time will allow the Romulan computer virus to overload the warp core and result in the destruction of your vessel. Good luck!</p>
 <center><img src="img/bridge.gif" height="200" width="225"></center>
 <br>
 <br>
 



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Please select your difficulty.
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="/nxclass">
                    <img class="img-responsive" src="/img/nx01.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>NX Class</h3>
                <h4>Practice Round</h4>
                <p>Before Kirk, before Spock, before the Federation, there was the NX Class Starships. Select this vessel for an easy warm up round before you take on the real challenges ahead.</p>
                <a class="btn btn-primary" href="/nxclass">Boldly go! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="/constitution">
                    <img class="img-responsive" src="/img/constitution.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Constitution Class</h3>
                <h4>Easy Game</h4>
                <p>The Federation flagship on its five year voyage into the unknown, the constitution class starship was built for deep space missions. Select this ship to boldy go where no one has gone before.</p>
                <a class="btn btn-primary" href="/constitution">Warp speed, Mr. Sulu! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="/galaxy">
                    <img class="img-responsive" src="/img/galaxy.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Galaxy Class</h3>
                <h4>Medium Game</h4>
                <p>The mission continues. The Galaxy Class starships became the new Federation flagship in the 24th century. With schools, a thriving community, and multiple research teams aboard, selecting this ship offers more of a challenge as you take on your daring mission in deep space.</p>
                <a class="btn btn-primary" href="/galaxy">Make it so! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="/intrepid">
                    <img class="img-responsive" src="/img/intrepid.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Intrepid Class</h3>
                <h4>Hard Game</h4>
                <p>Small, fast, and agile the Intrepid Class starships were built for short-term science missions, but one famous ship, the USS Voyager survived a seven year journey from the far end of the Delta Quadrent back to Earth. Take on a challenging mission by selecting this ship. Be warned...you may not survive.</p>
                <a class="btn btn-primary" href="/intrepid">Maximum warp! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="/sovereign">
                    <img class="img-responsive" src="/img/sovereign.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sovereign Class</h3>
                <h4>Expert Game</h4>
                <p>You are a true experianced captain of the Federation. You have faced many enemies and have helped many culures to survive and coexist. Your experiance though cannot prepare you for the challenges ahead. Select this ship you if know starfleet protocal forwards and backwards. Just know that the Final Frontier can be very unforgiving...</p>
                <a class="btn btn-primary" href="/sovereign">Engage! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
<br>
<br>
<br>
<br>
