<!--Sticky Footer -->
    <link href="css/sticky-footer.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<img src="img/voyager.gif">

<style>

  h1 {
    color: white;
  }

  h2 {
    color: black;
  }

  p {
    color: black;
  }

</style>

<script>
var numQuestions = 10;

var numChoice = 4;

var answers = new Array(10);

answers[0] = "b";
answers[1] = "d";
answers[2] = "d";
answers[3] = "c";
answers[4] = "b";
answers[5] = "c";
answers[6] = "d";
answers[7] = "a";
answers[8] = "c";
answers[9] = "a";

function gradeMe(form) {
  var score = 0;
  var currentElt;
  var currentSelection;
  for (i=0; i<numQuestions; i++) {
    currentElt = i*numChoice;
    for (j=0; j<numChoice; j++) {
      currentSelection = form.elements[currentElt + j];
      if (currentSelection.checked) {
        if (currentSelection.value == answers[i]) {
          score++;
          break;
        }
      }
    }
  }

  score = Math.round(score/numQuestions*100);
  form.percentage.value = score + "%";
  var correctAnswers = "";
  for (i=1; i<=numQuestions; i++) {
    correctAnswers += i + ". " + answers[i-1] + "\r\n";

  }
  form.solutions.value = correctAnswers;
}

</script>

<div id= "countdownTimer">
</style>

<div id="show-number"></div>
<br>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script>

  document.write("Time Remaining")
  //countdown timer
    var number = 100;
    
    function run(){
      counter = setInterval(decrement, 1000);
    }
    function decrement(){
      number--;
      $('#show-number').html('<h3>' + number + '</h3>');
      if (number === 0){
        window.location.href = ("/gameover")
      }
    }

    function stop(){
    }

    function cdpause() {
    // pauses countdown
    clearTimeout(counter);
}

  run();
  </script>
  </div>

</head>
<body>
<br>

<div id= "triviaHeader">

<h1>Galaxy Class Trivia</h1>

</div>


<div class="jumbotron">
 
<div class = "container">

<form name = "trivia">
<div class="question">
1) The Vulcans have a distant ancestory with what race?</div>
<div class = "image">
<img src = "/img/vulcans.jpg" height="250" width= "425">
</div>
<div class="selection">
<input type="radio" value="a" name="question1">a) Klingons<br>
<input type="radio" value="b" name="question1">b) Romulans<br>
<input type="radio" value="c" name="question1">c) Andorians<br>
<input type="radio" value="d" name="question1">d) Remans<br>
</div>

<br>

<div class="question">
2) Which character in Star Trek: The Original Series had his/her brain stolen temporarily by a species living underground on a glacial planet?</div>
<div class = "image">
<img src = "/img/controller.jpg" height="250" width= "325">
</div>
<div class="selection">
<input type="radio" value="a" name="question2">a) Captain Kirk<br>
<input type="radio" value="b" name="question2">b) Lt. Uhura<br>
<input type="radio" value="c" name="question2">c) Scotty<br>
<input type="radio" value="d" name="question2">d) Spock<br>
</div>

<br>

<div class="question">
3) What drink does Balok offer Captain Kirk as a refreshment in the episode "The Carbomite Manuver"?</div>
<div class = "image">
<img src = "/img/balok.jpg" height="250" width= "375">
</div>
<div class="selection">
<input type="radio" value="a" name="question3">a) Romulan Ale<br>
<input type="radio" value="b" name="question3">b) Trelaxxia<br>
<input type="radio" value="c" name="question3">c) Klingon Blood Wine<br>
<input type="radio" value="d" name="question3">d) Tranya<br>
</div>

<br>

<div class="question">
4) What is the name of Spock's half-brother, the renegade vulcan and main antagonist in the film Star Trek V: The Final Frontier?</div>
<div class = "image">
<img src = "/img/sybok.jpg" height="250" width= "475">
</div>
<div class="selection">
<input type="radio" value="a" name="question4">a) Sarek<br>
<input type="radio" value="b" name="question4">b) Tuvok<br>
<input type="radio" value="c" name="question4">c) Sybok<br>
<input type="radio" value="d" name="question4">d) Surak<br>
</div>

<br>

<div class="question">
5) What is the name of the Klingon antagonist Christopher Lloyd played in Star Trek III: The Search for Spock?</div>
<div class = "image">
<img src = "/img/Kruge.jpg" height="250" width= "250">
</div>
<div class="selection">
<input type="radio" value="a" name="question5">a) Worf<br>
<input type="radio" value="b" name="question5">b) Kruge<br>
<input type="radio" value="c" name="question5">c) Martok<br>
<input type="radio" value="d" name="question5">d) Gowron<br>
</div>

<br>

<div class="question">
6) What ship does Hikaru Sulu become the captain of in Star Trek VI: The Undiscovered Country?</div>
<div class = "image">
<img src = "/img/sulu.jpg" height="250" width= "445">
</div>
<div class="selection">
<input type="radio" value="a" name="question6">a) USS Enterprise<br>
<input type="radio" value="b" name="question6">b) USS Farragut<br>
<input type="radio" value="c" name="question6">c) USS Excelsior<br>
<input type="radio" value="d" name="question6">d) USS Excalibur<br>
</div>

<br>

<div class="question">
7) In Star Trek: Insurrection, what is special about the Ba'ku planet that puts Captain Picard at odds with Admiral Dougherty breaking the Prime Directive?</div>
<div class = "image">
<img src = "/img/picardcrew.jpg" height="235" width= "420">
</div>
<div class="selection">
<input type="radio" value="a" name="question7">a) The planet is rich in dilithium crystals<br>
<input type="radio" value="b" name="question7">b) The planet is a source of a new element<br>
<input type="radio" value="c" name="question7">c) The planet is going to be destoyed<br>
<input type="radio" value="d" name="question7">d) The planet acts like a fountain of youth due to its rings<br>
</div>

<br>

<div class="question">
8) In Star Trek: Generations, Kirk and Picard team up to stop Soran from entering what?</div>
<div class = "image">
<img src = "/img/twocaptains.jpg" height="250" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question8">a) The Nexus<br>
<input type="radio" value="b" name="question8">b) The Q Contiuum<br>
<input type="radio" value="c" name="question8">c) The Delta Quadrent<br>
<input type="radio" value="d" name="question8">d) A Black Hole<br>
</div>

<br>

<div class="question">
9) What species is Guinan, the myserious bartender who ran Ten Forward in the USS Enterprise-D?</div>
<div class = "image">
<img src = "/img/guinan.jpg" height="325" width= "400">
</div>
<div class="selection">
<input type="radio" value="a" name="question9">a) Human<br>
<input type="radio" value="b" name="question9">b) Ocampa<br>
<input type="radio" value="c" name="question9">c) El-Aurian<br>
<input type="radio" value="d" name="question9">d) Trill<br>
</div>

<br>

<div class="question">
10) How many hosts did the symbiote alien Dax have before joining as Jadzia Dax in Star Trek: Deep Space Nine?</div>
<div class = "image">
<img src = "/img/dax.jpg" height="400" width= "350">
</div>
<div class="selection">
<input type="radio" value="a" name="question10">a) 7<br>
<input type="radio" value="b" name="question10">b) 13<br>
<input type="radio" value="c" name="question10">c) 3<br>
<input type= "radio" value="d" name="question10">d) 9<br>
</div>
<br>
<br>

<div class="container">
  <h2>All done?</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id= "results" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Results</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Results</h4>
        </div>
        <div class="modal-body">
          <input type="button" value="Submit" onClick="gradeMe(this.form)">
          <input type="reset" value="Reset">
          <input type="button" value="Stop Timer" onClick="cdpause()">
          <input type="button" value="Return to Dashboard" onClick="window.location.href='/'">

<br>
<br>

<p>Your Score =<strong><input class="bgclr" type="text" size= "6" name="percentage" disabled></strong>
<br><br>
Correct Answers:<br>
<textarea class="bgclr" name="solutions" wrap="virtual" rows="4" cols="30" disabled>
</textarea>
</form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>

<br>
<br>
  
<script src= '/app/app.js'</script>