<!--Sticky Footer -->
    <link href="css/sticky-footer.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<img src="img/voyager.gif">

<style>

  h1 {
    color: white;
  }

  h2 {
    color: black;
  }

  p {
    color: black;
  }

</style>

<script>
var numQuestions = 10;

var numChoice = 4;

var answers = new Array(10);

answers[0] = "c";
answers[1] = "d";
answers[2] = "a";
answers[3] = "b";
answers[4] = "c";
answers[5] = "a";
answers[6] = "c";
answers[7] = "a";
answers[8] = "b";
answers[9] = "c";

function gradeMe(form) {
  var score = 0;
  var currentElt;
  var currentSelection;
  for (i=0; i<numQuestions; i++) {
    currentElt = i*numChoice;
    for (j=0; j<numChoice; j++) {
      currentSelection = form.elements[currentElt + j];
      if (currentSelection.checked) {
        if (currentSelection.value == answers[i]) {
          score++;
          break;
        }
      }
    }
  }

  score = Math.round(score/numQuestions*100);
  form.percentage.value = score + "%";
  var correctAnswers = "";
  for (i=1; i<=numQuestions; i++) {
    correctAnswers += i + ". " + answers[i-1] + "\r\n";

  }
  form.solutions.value = correctAnswers;
}

</script>

<div id= "countdownTimer">
</style>

<div id="show-number"></div>
<br>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script>

  document.write("Time Remaining")
  //countdown timer
    var number = 100;
    
    function run(){
      counter = setInterval(decrement, 1000);
    }
    function decrement(){
      number--;
      $('#show-number').html('<h3>' + number + '</h3>');
      if (number === 0){
        window.location.href = ("/gameover")
      }
    }

    function stop(){
    }

    function cdpause() {
    // pauses countdown
    clearTimeout(counter);
}

  run();
  </script>
  </div>

</head>
<body>
<br>

<div id= "triviaHeader">

<h1>Intrepid Class Trivia</h1>

</div>


<div class="jumbotron">
 
<div class = "container">

<form name = "trivia">
<div class="question">
1) William Shatner directed which Star Trek movie?</div>
<div class = "image">
<img src = "/img/shatner.jpg" height="250" width= "425">
</div>
<div class="selection">
<input type="radio" value="a" name="question1">a) Star Trek III: A Search for Spock<br>
<input type="radio" value="b" name="question1">b) Star Trek IV: The Journey Home<br>
<input type="radio" value="c" name="question1">c) Star Trek V: The Final Frontier<br>
<input type="radio" value="d" name="question1">d) Star Trek VI: The Undiscovered Country<br>
</div>

<br>

<div class="question">
2) What was the name of Captain Picard's clone, portayed by Tom Hardy, in the film Star Trek: Nemesis?</div>
<div class = "image">
<img src = "/img/shinzon.jpg" height="250" width= "525">
</div>
<div class="selection">
<input type="radio" value="a" name="question2">a) Manas<br>
<input type="radio" value="b" name="question2">b) Kazan<br>
<input type="radio" value="c" name="question2">c) Zerik<br>
<input type="radio" value="d" name="question2">d) Shinzon<br>
</div>

<br>

<div class="question">
3) Wesley Crusher's father, Jack Crusher, served aboard which Federation Starship with Jean Luc Picard?</div>
<div class = "image">
<img src = "/img/wesley.jpg" height="300" width= "405">
</div>
<div class="selection">
<input type="radio" value="a" name="question3">a) USS Stargazer<br>
<input type="radio" value="b" name="question3">b) USS Yamato<br>
<input type="radio" value="c" name="question3">c) USS Bradbury<br>
<input type="radio" value="d" name="question3">d) USS Lexington<br>
</div>

<br>

<div class="question">
4) In Star Trek: Enterprise, after a catastrophic attack on Earth, the USS Enterprise enters the Delphic Expanse to locate what alien species?</div>
<div class = "image">
<img src = "/img/expanse.jpg" height="250" width= "475">
</div>
<div class="selection">
<input type="radio" value="a" name="question4">a) The Borg<br>
<input type="radio" value="b" name="question4">b) The Xindi<br>
<input type="radio" value="c" name="question4">c) The Klingons<br>
<input type="radio" value="d" name="question4">d) The Suliban<br>
</div>

<br>

<div class="question">
5) What is the name of the massive and powerful ship Khan helps Section 31 build in Star Trek: Into Darkness?</div>
<div class = "image">
<img src = "/img/vengeance.jpg" height="250" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question5">a) USS Dreadnought<br>
<input type="radio" value="b" name="question5">b) USS Destroyer<br>
<input type="radio" value="c" name="question5">c) USS Vengeance<br>
<input type="radio" value="d" name="question5">d) USS Vanquisher<br>
</div>

<br>

<div class="question">
6) What is the name of James T. Kirk's son?</div>
<div class = "image">
<img src = "/img/david.jpg" height="375" width= "250">
</div>
<div class="selection">
<input type="radio" value="a" name="question6">a) David Marcus<br>
<input type="radio" value="b" name="question6">b) George Kirk<br>
<input type="radio" value="c" name="question6">c) Jim Kirk Jr.<br>
<input type="radio" value="d" name="question6">d) Allen Marcus<br>
</div>

<br>

<div class="question">
7) Who operates the bar in the Deep Space Nine space station?</div>
<div class = "image">
<img src = "/img/quark.jpg" height="255" width= "420">
</div>
<div class="selection">
<input type="radio" value="a" name="question7">a) Qal'vok<br>
<input type="radio" value="b" name="question7">b) Neelix<br>
<input type="radio" value="c" name="question7">c) Quark<br>
<input type="radio" value="d" name="question7">d) Rom<br>
</div>

<br>

<div class="question">
8) In what famous episode of Star Trek: The Original Series does Captain Kirk battle with The Gorn?</div>
<div class = "image">
<img src = "/img/gorn.jpg" height="270" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question8">a) The Arena<br>
<input type="radio" value="b" name="question8">b) Amok Time<br>
<input type="radio" value="c" name="question8">c) Space Seed<br>
<input type="radio" value="d" name="question8">d) The Doomsday Machine<br>
</div>

<br>

<div class="question">
9) How far did the USS Voyager get thrown across the galaxy by the Caretaker?</div>
<div class = "image">
<img src = "/img/caretaker.jpg" height="325" width= "400">
</div>
<div class="selection">
<input type="radio" value="a" name="question9">a) 60,000 light years<br>
<input type="radio" value="b" name="question9">b) 70,000 light years<br>
<input type="radio" value="c" name="question9">c) 100,000 light years<br>
<input type="radio" value="d" name="question9">d) 250,000 light years<br>
</div>

<br>

<div class="question">
10) When first arriving in the Delta Quadrant, how long would it take for the USS Voyager, without stopping and at maximum warp, to get back to Earth?</div>
<div class = "image">
<img src = "/img/warp.jpg" height="250" width= "400">
</div>
<div class="selection">
<input type="radio" value="a" name="question10">a) 300 years<br>
<input type="radio" value="b" name="question10">b) 150 years<br>
<input type="radio" value="c" name="question10">c) 70 years<br>
<input type= "radio" value="d" name="question10">d) 25 years<br>
</div>
<br>
<br>

<div class="container">
  <h2>All done?</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id= "results" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Results</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Results</h4>
        </div>
        <div class="modal-body">
          <input type="button" value="Submit" onClick="gradeMe(this.form)">
          <input type="reset" value="Reset">
          <input type="button" value="Stop Timer" onClick="cdpause()">
          <input type="button" value="Return to Dashboard" onClick="window.location.href='/'">

<br>
<br>

<p>Your Score =<strong><input class="bgclr" type="text" size= "6" name="percentage" disabled></strong>
<br><br>
Correct Answers:<br>
<textarea class="bgclr" name="solutions" wrap="virtual" rows="4" cols="30" disabled>
</textarea>
</form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>

<br>
<br>
  
<script src= '/app/app.js'</script>