<!--Sticky Footer -->
    <link href="css/sticky-footer.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<img src="img/enterprise-e.gif">

<style>

  h1 {
    color: white;
  }

  h2 {
    color: black;
  }

  p {
    color: black;
  }

</style>

<script>
var numQuestions = 10;

var numChoice = 4;

var answers = new Array(10);

answers[0] = "d";
answers[1] = "a";
answers[2] = "c";
answers[3] = "b";
answers[4] = "d";
answers[5] = "b";
answers[6] = "b";
answers[7] = "b";
answers[8] = "c";
answers[9] = "d";

function gradeMe(form) {
  var score = 0;
  var currentElt;
  var currentSelection;
  for (i=0; i<numQuestions; i++) {
    currentElt = i*numChoice;
    for (j=0; j<numChoice; j++) {
      currentSelection = form.elements[currentElt + j];
      if (currentSelection.checked) {
        if (currentSelection.value == answers[i]) {
          score++;
          break;
        }
      }
    }
  }

  score = Math.round(score/numQuestions*100);
  form.percentage.value = score + "%";
  var correctAnswers = "";
  for (i=1; i<=numQuestions; i++) {
    correctAnswers += i + ". " + answers[i-1] + "\r\n";

  }
  form.solutions.value = correctAnswers;
}

</script>

<div id= "countdownTimer">
</style>

<div id="show-number"></div>
<br>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script>

  document.write("Time Remaining")
  //countdown timer
    var number = 95;
    
    function run(){
      counter = setInterval(decrement, 1000);
    }
    function decrement(){
      number--;
      $('#show-number').html('<h3>' + number + '</h3>');
      if (number === 0){
        window.location.href = ("/gameover")
      }
    }

    function stop(){
    }

    function cdpause() {
    // pauses countdown
    clearTimeout(counter);
}

  run();
  </script>
  </div>

</head>
<body>
<br>

<div id= "triviaHeader">

<h1>Sovereign Class Trivia</h1>

</div>


<div class="jumbotron">
 
<div class = "container">

<form name = "trivia">
<div class="question">
1) What is the name of the villian, portrayed by Idris Elba, in the film Star Trek: Beyond?</div>
<div class = "image">
<img src = "/img/krall.jpg" height="250" width= "425">
</div>
<div class="selection">
<input type="radio" value="a" name="question1">a) Zorg<br>
<input type="radio" value="b" name="question1">b) Vashal<br>
<input type="radio" value="c" name="question1">c) Korbek<br>
<input type="radio" value="d" name="question1">d) Krall<br>
</div>

<br>

<div class="question">
2) In Star Trek: Voyager, Neelix was killed on an away mission, what brought him back to life?</div>
<div class = "image">
<img src = "/img/neelix.jpg" height="450" width= "320">
</div>
<div class="selection">
<input type="radio" value="a" name="question2">a) Seven of Nine's nano probes<br>
<input type="radio" value="b" name="question2">b) Travelling back in time to save him<br>
<input type="radio" value="c" name="question2">c) Alternate Reality<br>
<input type="radio" value="d" name="question2">d) Nothing saved him, he really died<br>
</div>

<br>

<div class="question">
3) What planet was Khan and his comrades of fellow augments left stranded on by Captain Kirk after the events of the episode "Space Seed"?</div>
<div class = "image">
<img src = "/img/khanmad.jpg" height="300" width= "405">
</div>
<div class="selection">
<input type="radio" value="a" name="question3">a) Gamma II<br>
<input type="radio" value="b" name="question3">b) Loracus Prime<br>
<input type="radio" value="c" name="question3">c) Ceti Alpha V<br>
<input type="radio" value="d" name="question3">d) Ceti Alpha VI<br>
</div>

<br>

<div class="question">
4) Which character in Star Trek: The Next Generation suffered from Holo-addiction, a psychological disorder where someone spends more time in the holodeck than real life?</div>
<div class = "image">
<img src = "/img/holodeck.jpg" height="350" width= "475">
</div>
<div class="selection">
<input type="radio" value="a" name="question4">a) Lt. Geordi La Forge<br>
<input type="radio" value="b" name="question4">b) Lt. Reginald Barclay
<br>
<input type="radio" value="c" name="question4">c) Miles O'Brian<br>
<input type="radio" value="d" name="question4">d) Dr. Beverly Crusher<br>
</div>

<br>

<div class="question">
5) Who was Data's creator?</div>
<div class = "image">
<img src = "/img/datapipe.jpg" height="450" width= "450">
</div>
<div class="selection">
<input type="radio" value="a" name="question5">a) Dr. Isaac Asimov<br>
<input type="radio" value="b" name="question5">b) Dr. Ira Graves<br>
<input type="radio" value="c" name="question5">c) Dr. Julian Bashir<br>
<input type="radio" value="d" name="question5">d) Dr. Noonian Soong<br>
</div>

<br>

<div class="question">
6) In what episode of Star Trek: The Original Series did Kirk and Uhura share thier famous kiss?</div>
<div class = "image">
<img src = "/img/kirkanduhura.jpg" height="250" width= "400">
</div>
<div class="selection">
<input type="radio" value="a" name="question6">a) Friday's Child<br>
<input type="radio" value="b" name="question6">b) Plato's Stepchildren<br>
<input type="radio" value="c" name="question6">c) The Apple<br>
<input type="radio" value="d" name="question6">d) This Side of Paradise<br>
</div>

<br>

<div class="question">
7) In the books, William T. Riker, after leaving the Enterprise, becomes the captain of what ship?</div>
<div class = "image">
<img src = "/img/riker.jpg" height="375" width= "375">
</div>
<div class="selection">
<input type="radio" value="a" name="question7">a) USS Luna<br>
<input type="radio" value="b" name="question7">b) USS Titan<br>
<input type="radio" value="c" name="question7">c) USS Triton<br>
<input type="radio" value="d" name="question7">d) USS Rhea<br>
</div>

<br>

<div class="question">
8) In what series, or movie, was it first mentioned that James T. Kirk's middle name was Tiberious?</div>
<div class = "image">
<img src = "/img/captainkirk.jpg" height="400" width= "300">
</div>
<div class="selection">
<input type="radio" value="a" name="question8">a) Star Trek: The Original Series<br>
<input type="radio" value="b" name="question8">b) Star Trek: The Animated Series<br>
<input type="radio" value="c" name="question8">c) Star Trek (2009)<br>
<input type="radio" value="d" name="question8">d) Star Trek: The Motion Picture<br>
</div>

<br>

<div class="question">
9) Jaylah, a new character from Star Trek: Beyond, is based on what famous Hollywood actress?</div>
<div class = "image">
<img src = "/img/jaylah.jpg" height="325" width= "400">
</div>
<div class="selection">
<input type="radio" value="a" name="question9">a) Emma Stone<br>
<input type="radio" value="b" name="question9">b) Kate Mara<br>
<input type="radio" value="c" name="question9">c) Jennifer Lawrence<br>
<input type="radio" value="d" name="question9">d) Scarlett Johansson<br>
</div>

<br>

<div class="question">
10) William Shatner and Leonard Nimoy were both born days apart on the same month and year. What year were these two actors born?</div>
<div class = "image">
<img src = "/img/friends.jpg" height="400" width= "350">
</div>
<div class="selection">
<input type="radio" value="a" name="question10">a) 1942<br>
<input type="radio" value="b" name="question10">b) 1929<br>
<input type="radio" value="c" name="question10">c) 1950<br>
<input type= "radio" value="d" name="question10">d) 1931<br>
</div>
<br>
<br>

<div class="container">
  <h2>All done?</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" id= "results" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Results</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Results</h4>
        </div>
        <div class="modal-body">
          <input type="button" value="Submit" onClick="gradeMe(this.form)">
          <input type="reset" value="Reset">
          <input type="button" value="Stop Timer" onClick="cdpause()">
          <input type="button" value="Return to Dashboard" onClick="window.location.href='/'">

<br>
<br>

<p>Your Score =<strong><input class="bgclr" type="text" size= "6" name="percentage" disabled></strong>
<br><br>
Correct Answers:<br>
<textarea class="bgclr" name="solutions" wrap="virtual" rows="4" cols="30" disabled>
</textarea>
</form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>

<br>
<br>
  
<script src= '/app/app.js'</script>